<!DOCTYPE html>
<html lang="{{ site.lang | default: "de-AT" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h4>KONTAKT:</h4>
        <p>daskleineatelierwien@gmail.com</p>
        <h4>NÄCHSTER TERMIN:</h4>
        <p>am 5.6.2023, 15.30-17.30 Uhr</p>
        <p>25 Euro (inkl. Jause), minus 30% für Geschwisterkinder</p>
        <p>ORT: wird noch bekannt gegeben</p>
        <h4>WIR SIND:</h4>
        <p>Anna Lisa Kopeinig, MA, 36, Pädagogin mit Master in Sozialwissenschaften und</p>
        <p>MMag. art. Hannah Winkelbauer, 35, Bildende Künstlerin, ehemals Journalistin und Mutter zweier Kinder.</p>

      </header>
      <section>

      {{ content }}

      <img src="{{ "/assets/img/photo-gruppe.jpg" | relative_url }}" alt="Gruppe"/>
      <div style="width:50%">
        <img src="{{ "/assets/img/photo-sterntraegerin.jpg" | relative_url }}" alt="Sternträgerin"/>
      </div>
      <div style="width:50%">
        <img src="{{ "/assets/img/photo-monsterball.jpg" | relative_url }}" alt="Monster + Ball"/>
      </div>

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
